/* Demo CSS */
.dialogs {
	display: none;
}
.editor-control {
	margin: 10px 0;
}

/* Begin styling portal */
.widget-list {
	margin: 10px;
}
.portal-area {
	min-height: 40px;
	padding: 0;
}
.widget-container,
.portal-placeholder {
	border-radius: 5px;
	padding: 5px;
	background: skyblue;
	margin: 10px 0;
}
.portal-placeholder {
	border: 2px dashed silver;
	background: white;
	height: 40px;
}
.widget-edit-overlay {
	background-color: rgba(165,219,252, 0.6); /* skyblue/white */
}
